@model IEnumerable<Dog>
@using Humanizer
@{
    ViewData["Title"] = "Artykuły";
}

<h1>Artykuły</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus-circle"></i>Dodaj nowy artykuł</a>
</p>

@if (Model?.Count() > 0)
{
    <div class="row">
    @foreach (var item in Model)
        {
            <div class="col-md-4 py-2">
                <div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            @item.Date.Humanize(false)

                        </h6>
                        <p class="card-text">@item.Description.Truncate(30)</p>
                        <div class="btn-group" role="group">
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i
                            class="bi bi-pencil"></i>Edytuj</a>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i
                            class="bi bi-question-circle"></i>Szczegóły</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i
                            class="bi bi-trash"></i>Usuń</a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
}